/* General css - body, html and fonts */
body{
    margin: 0;
    padding: 0;
    height: 310vh;
    width: 100%;
    overflow-x: hidden;
    /* background-color: #FFF0EA; */
    background-color: #ffecec;
    font-size: 62.5%;
}

.mainText{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 100%;
    display: block;
    padding: 0;
    margin: 0;
    color: rgb(190, 35, 21);
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 130%;
    word-spacing: 5px;
    display: block;
    padding: 0;
    margin: 0;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-weight: light;
    font-size: 1.4rem;
    line-height: 100%;
    display: block;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: rgb(67, 67, 67);
}

i{
    font-size: 1.2rem;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(47, 47, 47);
    display: inline-block;
}

.button{
    background-color: inherit;
    border: solid 5px #5A7BD0;
    border-radius: 20px;
    height: 7vh;
    width: 30%;
    margin: 2vh 15% 2vh 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-transform: capitalize;
    cursor: pointer;
}

.button:hover{
    background-color: #5A7BD0;
    color: white;
    transition: 200ms;
}

.button:active{
    background-color: #FFF0EA;
    color: black;
}

/* Header section css */

header{
    height: 10vh;
    margin: 7vh 10%;
    padding: 0 7%;
    border: solid 5px #6CC3A4;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.leftSideHeader,
.rightSideHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSideHeader{
    width: 27%;
}

.rightSideHeader{
    width: 25%;
}

/* Hero section css */

.heroSection{
    height: 80vh;
    margin: 7vh 10%;
    padding: 0 7%;
    border: solid 5px #C76464;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
}

/* Branches Section css */

.branchSection h2{
    font-size: 2rem;
    color: black;
    margin-bottom: 4vh;
}

.branchSection button{
    width: fit-content;
    padding: 0 2%;
    margin: 2vh 5% 2vh 0;
}

.compsciSection{
    height: fit-content;
    margin: 7vh 10%;
    padding: 7vh 7%;
    border: solid 5px #AA98D4;
    border-radius: 20px;
}

.compsciSection h1{
    font-size: 2.8rem;
}

.semOneCSE,
.semTwoCSE{
    height: fit-content;
    margin-top: 10vh;
    padding: 7vh 7%;
    border: solid 5px #E29D9F;
    border-radius: 20px;
}

/* Responsive media queries */

/* laptops */
@media screen and (max-width: 1024px){
    .mainText{
        font-size: 1.2rem;
    }
    h1{
        font-size: 3rem;
        line-height: 100%;
    }
    h2{
        font-size: 1rem;
    }
    i{
        font-size: 1rem;
    }
    p{
        font-size: 0.8rem;
    }
    .button{
        font-size: 0.7rem;
        min-width: fit-content;
    }

    .heroRight img{
        width: 300px;
    }

    .branchSection h2{
        font-size: 1.6rem;
    }
    .compsciSection h1{
        font-size: 2.4rem;
    }
}

/* Tablets */
@media screen and (max-width: 768px){
    .mainText{
        font-size: 1rem;
    }
    h1{
        font-size: 2.6rem;
        line-height: 100%;
    }
    h2{
        font-size: 0.8rem;
    }
    i{
        font-size: 0.8rem;
    }
    p{
        font-size: 0.8rem;
    }
    .button{
        font-size: 0.6rem;
        min-width: fit-content;
    }
    .heroRight img{
        width: 250px;
    }

    .branchSection h2{
        font-size: 1.4rem;
    }
    .compsciSection h1{
        font-size: 2.2rem;
    }
    .leftSideHeader{
        width: 30%;
    }
}

/* Large Mobiles */
@media screen and (max-width: 425px){
    header{
        height: 7vh;
        margin: 3vh 5%;
        padding: 0 5%;
    }
    .heroSection{
        flex-direction: column;
        height: fit-content;
        gap: 7vh;
        padding: 7vh 5%;
        margin: 3vh 5%;
    }
    .compsciSection{
        margin: 3vh 5%;
        padding: 7vh 5%;
    }
    .mainText{
        font-size: 1rem;
    }
    h1{
        font-size: 2.4rem;
        line-height: 100%;
        text-align: center;
    }
    h2{
        font-size: 0.8rem;
    }
    i{
        font-size: 0.8rem;
    }
    p{
        font-size: 0.9rem;
        text-align: center;
    }
    .button{
        font-size: 0.75rem;
        min-width: fit-content;
        padding: 0;
        height: 30px;
        border-width: 3px;
    }
    .heroSection .button{
        margin: 2vh 9%;
    }
    .leftSideHeader{
        width: 44%;
        align-items: center;
    }
    .rightSideHeader{
        width: 34%;
    }
    .branchSection h2{
        font-size: 1.2rem;
    }
    .compsciSection h1{
        font-size: 2rem;
    }
    .semOneCSE,
    .semTwoCSE{
        height: fit-content;
        margin-top: 7vh;
        padding: 3vh 5%;
        border: solid 5px #E29D9F;
        border-radius: 20px;
    }
}